.menu {
    grid-area: menu;
    background: linear-gradient(to right, #232526, #414345);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.menu a,
.menu a:hover {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.menu .menu-filter {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #AAA;
}

.menu .menu-filter svg {
    color: #AAA;
    margin-right: 10px;
    height: 100%;
}

.menu .menu-filter input {
    color: #CCC;
    font-size: 1.3rem;
    border: 0;
    outline: 0;
    width: 70%;
    background: transparent;
}

.menu .tree ul {
    margin: 5px 10px;
    color: #FFF;
}

.menu .tree ul[selected="true"] {
    background-color: rgba(255, 255, 255, 0.2);
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:hover, .MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
    background-color: rgba(255, 255, 255, 0.2);
}